<% include  .././template/nav.ejs%>
 <h4 class="centro"><b>Plan de Mejoramiento para la Empresa: </b> <%= empresa[0].nombre %></h4><br>

<div class="container">
    <div class="row ">
    <table class="table table-striped custab">
    <thead>
  <!--  <a href="#" class="btn btn-primary btn-xs pull-right"><b>+</b> Add new categories</a> -->
        <tr>
            
            <th class="arriba">Actividad</th>
            <th class="arriba">Responsable</th>
            <th class="arriba">Fecha de Cumplimiento</th>
            <th class="arriba">Recursos administrativos y financieros</th>
            <th class="arriba">Fundamentos y soportes de la efectividad de las acciones (evidencias)</th>
            <th class="arriba">Actividades para subsanar y prevenir que se presenten en el futuro hechos o situaciones que afecten el bienestar y salud de los trabajadores o personas que prestan servicios en las empresas</th>
            <th class="text-center class="arriba"">Acciones</th>
        </tr>
    </thead>
   <% planes.forEach(function(plan) { %>
  
            <tr>
               
                <td><%=plan.actividad%> </td>
                 <% if(plan.responsable == 1){ %>
                <td>Gerente</td>
                   <% }else{  %>
                    <td>Líder SST</td>
                  <% }  %>   
                <td><%=plan.plazo%></td>
                <td><%=plan.recursos%></td>
                <td><%=plan.fundamentos%></td>
                <td><%=plan.act_subsanar%></td>
                 <% if(plan.observaciones != ''){ %>
                <td class="text-center"><a class='btn btn-info btn-xs' href="#"><span class="glyphicon fa-edit fa"></span> Editar</a>  <br> <br><a class='btn btn-info btn-xs' href="#"data-toggle="myToolTip" data-placement="top" title="<%=plan.observaciones%>"><span class="glyphicon fa-font fa"></span> Observaciones</a> </td>
                <% }else{  %>
                <td class="text-center"><a class='btn btn-info btn-xs' href="#"><span class="glyphicon fa-edit fa"></span> Editar</a>  </td>
                 <% }  %>  
            </tr>
           <% }); %>  
    </table>
    </div>
</div>
 <script src="../javascripts/evaluacionInicial.js"></script>
